<div class="card-container">
    <mat-card appearance="outlined">
        <mat-card-header class="custom-card-header">
            <mat-card-title class="custom-card-title">SignUp</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="custom-form" [formGroup]="formRegister">
                <mat-form-field class="custom-input">
                    <mat-label class="mat-label">Name</mat-label>
                    <input matInput formControlName="userName">
                </mat-form-field>
                <mat-form-field class="custom-input">
                    <mat-label class="mat-label">Email</mat-label>
                    <input matInput formControlName="userEmail">
                </mat-form-field>
                <mat-form-field class="custom-input">
                    <mat-label class="mat-label">Password</mat-label>
                    <input matInput formControlName="password" type="password">
                </mat-form-field>
                <div class="container-button">
                    <button class="button button-link button-register" (click)="register()">SignUp</button>
                    <button class="button button-link button-getBack" (click)="back()">Get Back</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>