/* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(2, 48, 71, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); */

.navbar-container {
    position: sticky;
    width: 98%;
    height: 3.75rem;
    margin: 0.5rem auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    border-radius: 0.5rem;
    background-color: #FB8500;
}

.link-logo {
    font-size: 24px;
    text-decoration: none;
    font-weight: 700;
    color: #023047;
    cursor: pointer;
}

.custom-nav {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-nav .link-nav{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    margin-inline: 1rem;
    color: #023047;
    cursor: pointer;
}

.custom-nav .link-nav::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #023047;
    transition: 0.3s;
}

.custom-nav .link-nav:hover::before {
    width: 100%;
}

.button {
    height: 2.45rem;
    width: 5rem;
    text-align: center;
    border: none;
    border-radius: 8px;
    margin-inline: 0.25rem;
    background-color: #023047;
    color: #8ECAE6 !important;
    cursor: pointer;
    transition: background-color 0.75s ease-in-out, color 0.75s ease-in-out;
}

.button:hover {
    background-color: #FB8500;
    color: #023047 !important;
}

.link-button {
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: inherit;
}