<!-- contenido -->
<!-- billbpard, special Offers, about Us, contact, apiHub -->

<div class="navbar-container">
    <a class="link link-logo">Kerplunk Cinema</a>
    <nav class="custom-nav">
        <div class="link-container">
            <a class="link link-nav" href="#billboard">Billboard</a>
            <a class="link link-nav" href="#specialOffers">Special Offers</a>
            <a class="link link-nav" href="#aboutUs">About Us</a>
            <a class="link link-nav" href="#contact">Contact</a>
            <a class="link link-nav" routerLink="/apiHub" *ngIf="login()">APIHub</a>
        </div>
    </nav>
    <div class="container-button">
        <button *ngIf="!login()" class="button button-login"><a routerLink="/login" 
            class="link link-button">LogIn</a></button>
        <button *ngIf="!login()" class="button button-register"><a routerLink="/register"
            class="link link-button">Register</a></button>
        <button *ngIf="login()" class="button button-logout"><a (click)="logout()" 
            class="link link-button">LogOut</a></button>
    </div>
</div>