.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.custom-form {
    min-width: 9.375rem; /* 150px */
    width: 100%;
}

.custom-input {
    width: 100%;
}

.custom-card-header {
    display: flex;
    justify-content: center;
    margin: 0.5rem auto 1rem auto;
}

/* botones de login y register */

.container-button {
    display: flex;
    justify-content: center;
    margin: 1rem auto 0.5rem auto;
}

.button {
    height: 2rem;
    width: 10rem;
    text-align: center;
    border: none;
    border-radius: 8px;
    margin-inline: 0.25rem;
    background-color: #023047;
    color: #f1f3f4 !important;
    cursor: pointer;
    transition: background-color 0.75s ease-in-out, color 0.75s ease-in-out;
}

.button:hover {
    border: #023047 0.10rem solid;

    background-color: #f1f3f4;
    color: #023047 !important;
}

.button-link {
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: inherit;
}
