.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.custom-form {
    min-width: 9.375rem; /* 150px */
    width: 100%;
}

.custom-input {
    width: 100%;
}

.custom-card-header {
    display: flex;
    justify-content: center;
    margin: 0.5rem auto 1rem auto;
}

.custom-card-title {
    font-size: 1.35rem;
    font-weight: 700;
    font-family: "Barlow Condensed", sans-serif;
}

.mat-label {
    font-size: 0.85rem;
    font-family: "Montserrat", serif;
}

/* botones de login y register */

.container-button {
    margin: 1rem auto 0.5rem auto;

    display: flex;
    justify-content: center;
}

.button-login {
    height: 2rem;
    width: 45%;

    text-align: center;

    border: none;
    border-radius: 8px;

    margin-inline: 0.25rem;

    font-size: 0.85rem;
    font-family: "Montserrat", serif;
    

    background-color: #023047;
    color: #f1f3f4 !important;
    cursor: pointer;
    transition: background-color 0.75s ease-in-out, color 0.75s ease-in-out;
}

.button-login:hover {
    border: #023047 0.10rem solid;

    background-color: #f1f3f4;
    color: #023047 !important;
}

.button-getBack {
    height: 2rem;
    width: 45%;

    text-align: center;

    border: 2px solid #023047;
    border-radius: 8px;

    margin-inline: 0.25rem;

    font-size: 0.85rem;
    font-family: "Montserrat", serif;
    

    background-color: #F1F3F4;
    color: #023047 !important;
    cursor: pointer;
    transition: background-color 0.75s ease-in-out, color 0.75s ease-in-out;
}

.button-getBack:hover {
    border: #023047 0.10rem solid;

    background-color: #cdcecf;
    color: #023047 !important;
}

.button-link {
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: inherit;
}
