<div class="sidenav" [ngClass]="isCollapsed() ? 'sidenav-collapsed' : ''">
    <div class="logo-container">
        <button class="logo" (click)="toogleCollapsed()">
            <i class="fa-solid fa-bars"></i>
        </button>
        @if (!isCollapsed()){
            <div class="logo-text">Kerplunk Cinema</div>
            <button class="btn-close" (click)="closeSidenav()">
                <i class="fa-solid fa-xmark"></i>
            </button>
        }
    </div>
    <div class="sidenav-nav">
        @for (item of items; track $index) {
        <li class="sidenav-nav-item">
            <a class="sidenav-nav-link" 
                [routerLink]="item.routeLink" 
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact:true }">
                <i class="sidenav-link-icon" [class]="item.icon"></i>
                @if (!isCollapsed()){
                    <span class="sidenav-link-text">{{ item.label }}</span>
                }
            </a>
        </li>
        }
    </div>
</div>