.sidenav {
  width: 16.5625rem;
  height: 100vh;

  position: fixed;
  z-index: 1;
  top: 0;

  box-shadow: 0.063rem 0 1.25rem 0 #8690a3;
  background: #FB8500;

  transition: all 0.5s ease;
}

.sidenav-collapsed {
  width: 5rem;
}

.sidenav .logo-container {
  width: 100%;

  padding: 0.938rem 0.938rem 0 0.938rem;

  display: flex;

  align-items: center;
}

.sidenav .logo-container .logo {
  width: 3rem;
  min-width: 3rem;

  text-align: center;

  border: none;
  border-radius: 0.313rem;
  padding: 0.313rem;

  font-size: 24px;
  font-weight: 900;

  background: #f1f3f4;

  cursor: pointer;
}

.sidenav .logo-container .logo-text {
  margin-left: 1.5rem;

  font-size:  1.35rem;
  font-weight: 700;
  font-family: "Barlow Condensed", sans-serif;

  color: #023047;
}

.sidenav .logo-container .btn-close {
  width: 2rem;
  height: 2rem;

  margin-left: auto;

  border: none;
  border-radius: 50%;
  
  background-color: transparent;
  cursor: pointer;
}

.sidenav .logo-container .btn-close .fa-times {
  font-size: 24px;

  color: #023047;
}

.sidenav-nav {
  height: calc(100% - 3.65rem);

  padding: 0.938rem;
  margin: 1rem 0;
  display: flex;

  flex-direction: column;
  align-items: center;

  list-style: none;
 
  cursor: pointer;
}

.sidenav-nav .sidenav-nav-item {
  width: 100%;

  margin-bottom: 0.625rem;
}

.sidenav-nav .sidenav-nav-item .sidenav-nav-link {
  height: 3rem;

  display: flex;
  align-items: center;
  
  text-decoration: none;

  border-radius: 0.625rem;

  color: #023047;

  transition: all 0.3s ease;
}

.sidenav-nav .sidenav-nav-item .sidenav-nav-link .sidenav-link-icon {
  width: 2rem;
  min-width: 2rem;

  padding: 12px;

  text-align: center;

  font-size: 22px;
}

.sidenav-nav .sidenav-nav-item .sidenav-nav-link .sidenav-link-text {
  margin-left: 1.5rem;

  font-size: 1.25rem;
  font-weight: 600;
  font-family: "Barlow Condensed", sans-serif;
}

.sidenav-nav .sidenav-nav-item:hover .sidenav-nav-link {
  background-color: #023047;
  color: #f1f3f4;
}

.active {
  background-color: #023047;
}

.active .sidenav-link-icon,
.active .sidenav-link-text {
  color: #f1f3f4;
}