<h5 class="title name-action">Delete register</h5>
<div mat-dialog-content class="form-container">
    <span class="span span-message">Delete register {{ dataResponse.countryName }} ?</span>
</div>
<div class="button-container" mat-dialog-actions>
    <button class="button button-close" mat-button mat-dialog-close>
        <i class="fa-solid fa-rectangle-xmark"></i>Reject
    </button>
    <button class="button button-save" (click)="deleteConfirm()" cdkFocusInitial>
        Delete
    </button>
</div>
