<section class="section section-carousel">

    <div class="container__movie-data">

        <div *ngFor="let movie of movies; let i = index" 
            class="slider-data" [class.active]="i === 0">
            
            <h2 class="title">{{ movie.title }}</h2>
            <p class="year">Year: {{ movie.movieYear }}</p>
            <p class="running-time">Running time: {{ movie.runningTime }}</p>
            <button class="button button-tickets">Buy tickets</button>
        </div>
    </div>

    <div class="carousel">

        <div class="container__images-wrapper">
            <img *ngFor="let movie of movies; let i = index" 
                class="image image-data" [class.img-active]="i === 0"
                [id]="'image-' + (i + 1)" [src]="movie.imageUrl" [alt]="movie.title" />

            <div class="container-images-nav">
                <button *ngFor="let movie of movies; let i = index" 
                    class="button button-carousel"
                    (click)="showImage(i)">
                </button>
            </div>
        </div>

        <div class="container__direction-button">
            <i class="fa-solid fa-angle-left direction-button" (click)="changePrev()"></i>
            <i class="fa-solid fa-angle-right direction-button" (click)="changeNext()"></i>
        </div>
    </div>
</section>