<section class="section section-carousel">
    <div class="container__movie-data">

        <div class="slider-data active">
            <h2 class="title">Movie 1</h2>
            <p class="psinopsis">
                Psinopsis movie 1: este es el texto de la
                psinopsis de la primera película que debe aparecer en el billboard.
            </p>
            <button class="button button-tickets" href="#">Buy tickets</button>
        </div>

        <div class="slider-data">
            <h2 class="title">Movie 2</h2>
            <p class="psinopsis">
                Psinopsis movie 2: este es el texto de la
                psinopsis de la segunda película que debe aparecer en el billboard.
            </p>
            <button class="button button-tickets" href="#">Buy tickets</button>
        </div>

        <div class="slider-data">
            <h2 class="title">Movie 3</h2>
            <p class="psinopsis">
                Psinopsis movie 3: este es el texto de la
                psinopsis de la tercera película que debe aparecer en el billboard.
            </p>
            <button class="button button-tickets" href="#">Buy tickets</button>
        </div>

        <div class="slider-data">
            <h2 class="title">Movie 4</h2>
            <p class="psinopsis">
                Psinopsis movie 4: este es el texto de la
                psinopsis de la cuarta película que debe aparecer en el billboard.
            </p>
            <button class="button button-tickets" href="#">Buy tickets</button>
        </div>
    </div>

    <div class="carousel">
        
        <div class="container__images-wrapper">
            
            <img class="image image-data img-active" id="image-1" src="" alt="image1" />
            <img class="image image-data" id="image-2" src="" alt="image2" />
            <img class="image image-data" id="image-3" src="" alt="image3" />
            <img class="image image-data" id="image-4" src="" alt="image4" />

            <div class="container-images-nav">
                <button class="button button-carousel" (click)="showImage()"></button>
                <button class="button button-carousel" (click)="showImage()"></button>
                <button class="button button-carousel" (click)="showImage()"></button>
                <button class="button button-carousel" (click)="showImage()"></button>
            </div>
        </div>

        <div class="container__direction-button">
            <i class="fa-solid fa-angle-left direction-button" (click)="changePrev()"></i>
            <i class="fa-solid fa-angle-right direction-button" (click)="changeNext()"></i>
        </div>
    </div>
</section>