.section-carousel {
    width: 100%;

    margin-top: 0.25rem;

    display: flex;
    justify-content: center;
}

/* contenedor: datos de la película */

.container__movie-data {
    position: relative;
    float: left;

    min-width: 40vw;
    max-height: 30rem;

    display: flex;
    justify-content: center;
}

.slider-data {
    display: none;
}

.slider-data.active {
    width: 80%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    font-size: 3rem;
    font-weight: 600;
    font-family: "Barlow Condensed", sans-serif;
}

.psinopsis {
    font-size: 0.85rem;
    font-family: "Montserrat", serif;
}

.button-tickets {
    min-width: 6rem;
    min-height: 3rem;

    border: transparent;
    border-radius: 10px;

    font-size: 0.85rem;
    font-family: "Montserrat" serif;

    background-color: #023047;
    color: #F1F3F4;

    transition: 0.75s ease;

    cursor: pointer;
}

.button-tickets:hover {
    border: #023047 2px solid;

    background-color: #F1F3F4;
    color: #023047;
}

/* contenedor: portada de la película */

.carousel {
    position: relative;
    float: right;

    width: 55vw;
    height: 30rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25rem;
}

/* Pantalla de aparición de las películas */

.container__images-wrapper {
    width: 55vw;
    height: 30rem;

    overflow: hidden;
}

.image {
    display: none;
}

.image.img-active {
    width: 100%;
    height: 100%;

    display: block;

    aspect-ratio: 16 / 4;
}

/* Navegador de botones de aparición de película */

.container-images-nav {
    position: absolute;
    bottom: 0.5rem;
    left: 50%;

    transform: translateX(-50%);
}

.button-carousel {
    width: 1rem;
    height: 1rem;

    margin: 0.5rem 0.25rem;

    border: transparent;
    border-radius: 50%;

    background-color: #F1F3F4;
    opacity: 0.5;

    transition: 0.5s ease;
}

.button-carousel:hover {
    opacity: 1;
}

/* Contenedor de botones de dirección */

.carousel .container__direction-button {
    position: absolute;

    min-width: 3%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25rem;

    left: 0.5rem;

    z-index: 1;
}

.carousel .container__direction-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F1F3F4;
    opacity: 0.5;
    z-index: -1;
}

.carousel .container__direction-button .direction-button {
    font-size: 2rem;

    color: #023047;

    transition: 0.5s;

    cursor: pointer;
}

.carousel .container__direction-button .direction-button:hover {
    color: red;
}

@media (max-width: 1000px) {
    .section-carousel {
        position: relative;

        display: flex;
        flex-direction: column-reverse;
    }

    .container__movie-data {
        width: 100%;
        height: 30vh;

        position: relative;
    }

    .slider-data {
        display: none;
    }

    .slider-data.active {
        width: 100%;
        height: 80%;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        padding: 0.75rem;
    }

    .slider-data .title {
        display: block;

        font-size: clamp(2.25rem, 12vw, 4rem);
    }

    .slider-data .year {
        display: none;
    }

    .slider-data .running-time {
        display: none;
    }

    .carousel {
        width: 100%;
        height: 22rem;
    }

    .container-images-nav {
        display: flex;
        justify-content: space-around;

        transform: translateX(-50%);
    }

    .container__images-wrapper {
        width: 100%;

        display: flex;
    }

    .image-data {
        width: 100%;
    }

    .button-carousel {
        width: 0.7rem;
        height: 0.7rem;

        margin: 0 0.3rem;

        border: transparent;
        border-radius: 50%;

        background-color: #F1F3F4;
        opacity: 0.5;

        transition: 0.5s ease;
    }
}