<section class="section section-carousel">
    <!-- <div class="carousel">
        <div class="slider-images">
            <img class="slider-img" id="slider-1" src="carousel-image.jpg" alt=""/>
            <img class="slider-img" id="slider-2" src="carousel-image.jpg" alt=""/>
            <img class="slider-img" id="slider-3" src="carousel-image.jpg" alt=""/>
            <img class="slider-img" id="slider-4" src="carousel-image.jpg" alt=""/>
        </div>
        <div class="slider-nav">
            <a class="slider-button" id="" href="#slider-1"></a>
            <a class="slider-button" id="" href="#slider-2"></a>
            <a class="slider-button" id="" href="#slider-3"></a>
            <a class="slider-button" id="" href="#slider-4"></a>
        </div>
    </div> -->

    <div class="container__title-psinopsis">
        <div class="slider-title active">
            <h2 class="title">Movie 1</h2>
            <p class="psinopsis">
                Psinopsis movie 1: este es el texto de la
                psinopsis de la primera película que debe aparecer en el billboard.
            </p>
            <button class="button button-tickets" href="#">Buy tickets</button>
        </div>

        <div class="slider-title">
            <h2 class="title">Movie 2</h2>
            <p class="psinopsis">
                Psinopsis movie 2: este es el texto de la
                psinopsis de la segunda película que debe aparecer en el billboard.
            </p>
            <button class="button button-tickets" href="#">Buy tickets</button>
        </div>

        <div class="slider-title">
            <h2 class="title">Movie 3</h2>
            <p class="psinopsis">
                Psinopsis movie 3: este es el texto de la
                psinopsis de la tercera película que debe aparecer en el billboard.
            </p>
            <button class="button button-tickets" href="#">Buy tickets</button>
        </div>

        <div class="slider-title">
            <h2 class="title">Movie 4</h2>
            <p class="psinopsis">
                Psinopsis movie 4: este es el texto de la
                psinopsis de la cuarta película que debe aparecer en el billboard.
            </p>
            <button class="button button-tickets" href="#">Buy tickets</button>
        </div>
    </div>

    <div class="carousel">
        <button class="button button-change" (click)="changePrev()">Previous</button>
        <button class="button button-change" (click)="changeNext()">Next</button>
        <!-- 
        <img class="slider-img" id="slider-1" src="carousel-image.jpg" alt="" />
        <img class="slider-img" id="slider-2" src="carousel-image.jpg" alt="" />
        <img class="slider-img" id="slider-3" src="carousel-image.jpg" alt="" />
        <img class="slider-img" id="slider-4" src="carousel-image.jpg" alt="" /> 
        -->
    </div>
</section>