<app-navbar></app-navbar>
<!-- 
<div>
    <ul>
        <li>
            <a routerLink="/country">Country</a>
        </li>
        <li>
            <a routerLink="/director">Director</a>
        </li>
        <li>
            <a routerLink="/movie">Movie</a>
        </li>
        <li>
            <a routerLink="/movieDirector">MovieDirector</a>
        </li>
        <li>
            <a routerLink="/movieMusic">MovieMusic</a>
        </li>
        <li>
            <a routerLink="/music">Music</a>
        </li>
    </ul>
</div> 
-->

